# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=d7a89c9b9abebb2e9bf2c28dd4399dbeebd1bed65ff46065dab5c16e19d622665d7ab35af624e1e446e99bcd4e804452fb39d087dec5d82f1b513a7ce12baeab
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
